#content-lang {
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    list-style-type: none;
}

#content-lang li {
    cursor: pointer;
}

#about-page {
    display: flex;
    justify-content: center;
    height: calc(100vh - 150px);
    width: 100vw;
    margin: auto;
}

.about-content {
    position: relative;
    width: 100vw;
    min-width: 330px;
    max-width: 650px;
    word-break: keep-all;
    padding: 10px 20px;
    overflow-y: scroll;
    line-height: 1.5em;
}

.about-content span {
    cursor: pointer;
}

.about-content p {
    margin-bottom: 2em;
}