/* 데스크탑 화면에서 사용되는 CSS 파일입니다. */
body {
    height: 100dvh;
    width: 100dvw;
    margin: 0;
    transition: background-color 0.5s ease-in-out;
    background-image: url('/public/img/bg.avif');
    background-size: auto;
    user-select: none;
    overflow: hidden;
    position: fixed;
}

body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

body::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}

body::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #555;
}

/* 타이틀 */
.title {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 10px;
    font-size: 4em;
    color: white;
    transition: 0.2s;
    width: 100%;
}

/* 언어 선택 컨테이너 */
.language-setting {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 필터링 칩 컨테이너 */
.filter-chips-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* 필터링 칩 */
.filter-chips {
    display: inline-flex;
    padding: 1em 0;
}

.card-container-container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: first baseline;
    width: 100vw;
    height: calc((100vh - 300px));
    max-height: 640px;
    margin-top: 1em;
    overflow-y: scroll;
}

/* 동영상 카드 컨테이너 */
.desktop-card-container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    min-width: 1100px;
    max-width: 1100px;
    height: 100%;
}

/* 동영상 카드 한 줄에 3개씩 보이게 하기 */
.desktop-card {
    position: relative;
    flex: 1 1 1;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 150px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    margin: 5px;
    text-align: center;
    cursor: pointer;
}

.desktop-card img {
    width: 250px;
    height: 150px;
    border-radius: 10px;
    pointer-events: none;
}