/* 동영상 페이지 */

/* 동영상 컨테이너 */
.desktop-video-container {
    position: relative;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    height: 100dvh;
    z-index: 0;
    background-color: black;
}

.youtube-player {
    position: relative;
    height: auto;
    display: block;
}

/* 자막 컨테이너 */
.subtitle-container {
    position: fixed;
    left: 50%;
    bottom: 5%;
    transform: translate(-50%, -5%);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-self: baseline;
    height: 10%;
    max-height: max-content;
    width: max-content;
    color: white;
    z-index: 3;
    text-align: left;
}

.chat-bubble-container,
.chat-bubble-container-default {
    padding: 2px 10px;
    color: snow;
}