/* 모바일 세로모드 */

.mobile-title {
    font-size: 2em;
    display: flex;
    justify-content: center;
    color: white;
}

/* about 페이지 링크 스타일 */
.mobile-tab {
    display: inline-block;
    font-size: 1em;
    font-weight: bold;
    color: white;
    text-decoration: none;
    margin-top: 10px;
    margin-left: 20px;
    padding: 0 10px;
}

.mobile-nav .filter-chips-container {
    padding-bottom: 1em;
}

.filter-chips-mobile {
    display: inline-flex;
    margin-top: 12px;
    padding-bottom: 10px;
}

.mobile-card-container {
    display: flex;
    flex-direction: column;
    justify-content: first baseline;
    align-items: center;
    margin: 0 10px;
    /* height: calc(var(--vh, 1vh) * 74); */
    height: 74dvh;
    overflow-y: scroll;
    position: relative;

}

.mobile-card {
    margin: 0.2em auto;
    display: flex;
    justify-content: center;
}

.mobile-card img {
    width: 80%;
    border-radius: 10px;
}