/* 모달 */
.modal-screen {
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(15px);
    justify-content: center;
    align-items: center;
    position: fixed;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('/public/img/bg.avif');
    z-index: 10;
}

.modal-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: min-content;
    height: fit-content;
    border-radius: 2em;
    color: snow;
}

.modal-container h1 {
    margin: 0.6em;
    width: max-content;
    font-size: 2em;
}

.type-container {
    background-color: rgb(97, 97, 97, 0.5);
    padding: 1.5em 0 1.5em 1em;
    list-style-type: none;
    justify-content: center;
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    min-width: 650px;
    max-width: 750px;
}

/* 이미지 드래그 금지 */
.type-container img {
    user-drag: none;
    -webkit-user-drag: none;
}

.type-container .chat-bubble-container {
    border-radius: 1.1em;
    font-size: 1em;
    margin: 0.3em 0.3em;
}

.type-button {
    border-radius: 1.1em;
    cursor: pointer;
    margin: 0.1em;
}

.type-button.selected {
    filter: drop-shadow(0 0 0.75em rgba(255, 255, 255, 0.6));
    transition: box-shadow 0.2s, background-color 0.2s;
    border-radius: 2em;
    cursor: pointer;
}

.default-type-button.selected {
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 1em 0.4em rgba(255, 255, 255, 0.2);
    transition: box-shadow 0.2s, background-color 0.2s;
    cursor: pointer;
}

.type-container li:nth-child(4),
.type-container li:nth-child(7) {
    margin-left: 1.9em;
}

.type-container li:nth-child(3) {
    margin-left: -0.8em;
}

.type-container li:last-child {
    margin: 0.6em 0.6em 0 0.6em;
    position: relative;
}