::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar {
  width: 5px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #555;
}

::-webkit-scrollbar-button {
  display: none;
}

.tabStyle {
  display: inline-block;
  font-size: 1.3em;
  font-weight: bold;
  color: white;
  text-decoration: none;
  margin-top: 10px;
  margin-left: 20px;
  padding: 0 10px;
}

/* 자막 설정 컨트롤러 제목 */
.subtitle-position-controller,
.subtitle-font-size-controller,
.language-selector {
  margin: 1em;
}

ul.language-selector li {
  cursor: pointer;
  width: max-content;
  margin: 0.5em 0;
  height: min-content;

}