
/* .font-size-controller {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  color: rgb(207, 201, 201);
  font-size: 1em;
  font-weight: bold;
} */



.video-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.tabStyle{
  display: inline-block;
  font-size: 1.3em;
  font-weight: bold;
  color: white ;
  text-decoration: none;
  margin-top: 10px;
  margin-left: 20px;
  padding: 0 10px;
}
