body {
  height: 100vh;
  margin: 0;
  transition: background-color 0.5s ease-in-out;
  background-image: url('/public/img/bg.png');
  background-size: cover;
  font-family: 'Roboto',
  'Noto Sans',
  'Arial',
  sans-serif;
  user-select:none;
  overflow: hidden;
}
body::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 10)), url('/public/img/bg.png');
  background-size: cover;
  background-position: center;
  opacity: 0;
  transition: opacity 0.5s;
  z-index: -1;
}

body.background-transition::after {
  opacity: 1;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 10px;
  font-size: 60px;
  color: white;
}

.language-setting{
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .font-size-controller {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  color: rgb(207, 201, 201);
  font-size: 1em;
  font-weight: bold;
} */

.filter-chips-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.filter-chips {
  display: inline-flex;
  margin-top: 50px;
  margin-bottom: 20px;
  padding-bottom: 10px;
}

.card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: first baseline;
  margin: 50% auto;
  margin-top: 40px;
  padding-top: 11px;
  width: 50%;
  height: 45vh;
  overflow-y: auto;
}

.card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  flex: 1 0 auto;
  cursor: pointer;
  width: 20em;
  margin: 0 10px 10px 10px;
  border-radius: 10px;
  overflow: hidden;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.video-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* 자막 컨테이너 */
.subtitle-container {
  text-align: center;
  width: 70vw;
  margin-top: 30px;
  font-size: 25px;
  color: white;
}

.subtitle-container-2 {
  position: fixed;
  padding: 2px 10px;
  text-align: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 1;
}  


.tabStyle{
  display: inline-block;
  font-size: 1.3em;
  font-weight: bold;
  color: white ;
  text-decoration: none;
  margin-top: 10px;
  margin-left: 20px;
  padding: 0 10px;
}
